<!-- contact.component.html -->
<!-- contact.component.html -->
<section class="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="contact-info">
      <p><strong>Email:</strong> <a href="mailto:manzoor.resie@gmail.com">manzoor.resie@gmail.com</a></p>
      <p><strong>Mobile:</strong> <a href="tel:+919149659132">+91 9149659132</a></p>
    </div>
    <div class="social-links">
      <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/manzoor-reshi-058749116/" target="_blank">Manzoor Reshi</a></p>
    </div>
  </div>
</section>

  